mixin css(paths)
    each item in paths
        link(rel="stylesheet" type="text/css" href=item)

mixin script(paths)
    each item in paths
        script(type="text/javascript" src=item)

mixin bsDropdownMenu(...items)
    ul.dropdown-menu
        each item in items
            li: a(href=item.url)
                if item.icon
                    span(class=item.icon)
                |#{item.label}


doctype html
html(lang="cs")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width initial-scale=1")
        +css(["css/bootstrap.min.css","css/bootstrap-theme.css","css/font-awesome.min.css","css/style.css"])
        block css
        block title

    body
        // HEADER
        header#navbar.navbar.navbar-fixed-top.navbar-default
            nav.container
                .navbar-header
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse")
                        - for (var x = 0; x < 3; x++)
                            span.icon-bar
                    a(class="navbar-brand" href="#")
                        span.fa.fa-university
                        |R-bank

                .collapse.navbar-collapse#header-navbar-collapse
                    ul.nav.navbar-nav
                        block leftNavbar

                    ul.nav.navbar-nav.navbar-right
                        block rightNavbar


        // CONTENT
        block content

        footer.footer
            .container
                block footer
                    p.text-muted.text-center
                        //span.glyphicon.glyphicon-copyright-mark
                        span.fa.fa-copyright
                        |Roman Zeleník

        +script(["js/jquery.min.js","js/bootstrap.min.js","js/script.js"])
        block script