mixin css(paths)
    each item in paths
        link(rel="stylesheet" type="text/css" href=item)

mixin script(paths)
    each item in paths
        script(type="text/javascript" src=item)

mixin bsDropdownMenu(...items)
    ul.dropdown-menu
        each item in items
            li: a(href=item.url)
                if item.icon
                    span(class=item.icon)
                |#{item.label}


doctype html
html(lang="cs")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width initial-scale=1")
        block css
            +css(["css/bootstrap.min.css","css/bootstrap-theme.min.css","css/font-awesome.min.css","css/style.css"])
        block title

    body
        #wrapper
            // HEADER
            header#navbar.navbar.navbar-fixed-top.navbar-default
                nav.container
                    .navbar-header
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse")
                            - for (var x = 0; x < 3; x++)
                                span.icon-bar
                        a(class="navbar-brand" href="#")
                            span.fa.fa-building
                            |R-bank

                    .collapse.navbar-collapse#header-navbar-collapse
                        ul.nav.navbar-nav
                            block leftNavbar

                        ul.nav.navbar-nav.navbar-right
                            block rightNavbar


            // CONTENT
            .container
                block content

            // FOOTER
            footer.footer
                .container
                    block footer
                        .text-muted.text-center
                            ul.list-inline.top
                                li
                                    span.fa.fa-copyright
                                    |R-Bank 2016
                                li: a(href="#") Kontakty
                                li
                                    span(data-toggle="tooltip" data-placement="top" title="Infolinka")
                                        span.fa.fa-phone
                                        |800 111 111
                                //li: a(href="#") Seznam poboček
                                //li: address.text-left
                                    strong R-Bank, a. s.
                                    br
                                    |   Radlická 333/150
                                    br
                                    |   150 57 Praha 5
                                    br
                                    abbr(title='Telefon') Tel.:
                                    |  +420 211 111 111

        block script
            +script(["js/jquery.min.js","js/bootstrap.min.js","js/script.js"])