extends template/clientPageTemplate

block content
    .row
        .col-lg-3.col-md-3.col-sm-3
            +menu(2, "paymentOrder")

        .col-lg-9.col-md-9.col-sm-9
            main.main
                if success
                    +dismiss-alert("alert-success", success)
                if warning
                    +dismiss-alert("alert-warning", warning)
                if err
                    +dismiss-alert("alert-danger", err)

                .page-header: h1: small Potvrzení transakce
                dl.dl-horizontal
                    dt Transakce
                    dd #{preparedTransaction.getId()}
                    dt Z účtu
                    dd #{preparedTransaction.getClientAccount().getAccountNumber()}
                    dt Na účet
                    dd #{preparedTransaction.getOffsetAccount().getOffsetAccountNumber()}
                    dt Částka
                    dd #{preparedTransaction.getAmount()}
                p Zbývající čas:
                    span#paymentVerifyCounter
                form#verifyForm.form-inline(method="post")
                    .form-group
                        input.form-control.text-center(type="text" name="verificationCode" required
                        maxlength=verificationCodeLength size=verificationCodeLength)
                    .form-group
                        input(type="hidden" name="action" value="verify")
                        button.btn.btn-success(type="submit" form="verifyForm") Potvrdit
                        button.btn.btn-warning(type="submit" form="cancelForm") Zrušit
                form#cancelForm(method="post")
                        input(type="hidden" name="action" value="cancel")

block append script
    script.
        countdown(#{verificationCodeTimeout}, "paymentVerifyCounter");