.page-header: h2: small Výpis účtu
.table-responsive
    table.table.table-row-striped.table-bordered
        thead
            tr
                th(rowspan="2" scope="rowgroup") datum
                th(rowspan="2" scope="rowgroup") protiúčet
                th(colspan="2" scope="colgroup") VS
                th(rowspan="2" scope="rowgroup") typ transakce
                th(rowspan="2" scope="rowgroup") částka
            tr
                th(scope="row") KS
                th(scope="row") SS
        tbody
            each transaction in transactions
                tr
                    td(rowspan="2" scope="rowgroup")= transaction.getDueDate()
                    td(rowspan="2" scope="rowgroup")
                        | #{transaction.getOffsetAccount().getOffsetAccountNumber()}/#{transaction.getOffsetAccount().getBankCode()}
                    td(colspan="2" scope="colgroup")= transaction.getVariableSymbol()
                    td(rowspan="2" scope="rowgroup")= transaction.getType().toLocaleString()
                    td(rowspan="2" scope="rowgroup" class=transaction.getType().isRevenues() ? "success" : "danger").money
                        | #{transaction.getAmount()}
                tr
                    td(scope="row")= transaction.getConstSymbol()
                    td(scope="row")= transaction.getSpecificSymbol()