mixin paymentOrder(inputDate, selectAccount, bankAccounts, inputOffset, inputBankCode, bankCodes, inputAmount, inputConstSymbol, inputVarSymbol, inputSpecSymbol, inputMessage)
    .form-group
        label.control-label.col-sm-5.required-input(for="inputDate") Datum
        .col-sm-7: input(type="date" id="inputDate" name="inputDate" value=inputDate class="form-control" placeholder="" required autofocus
        min=DateHelper.todayString())
    .form-group
        label.control-label.col-sm-5.required-input(for="selectAccount") Účet
        .col-sm-7
            select.form-control(id="selectAccount" name="selectAccount" required)
                each account in bankAccounts
                    option(value=account.getAccountNumber() selected= account.getAccountNumber().equals(selectAccount))
                        | #{account.getAccountNumber()}(#{account.getCurrency().name()})
    .form-group
        label.control-label.col-sm-5.required-input(for="inputOffset") Příjemce
        .col-sm-7: input(type="text" id="inputOffset" name="inputOffset" value=inputOffset class="form-control text-right" placeholder="" required
                    pattern="\\d{16}" maxlength=16)
    .form-group
        label.control-label.col-sm-5.required-input(for="inputBankCode") Kód banky
        .col-sm-7
            input(type="text" id="inputBankCode" name="inputBankCode" value=inputBankCode list="bankCodeList" class="form-control text-right" placeholder="####" required
            pattern="\\d{4}" maxlength=4)
            datalist#bankCodeList
                each code in bankCodes
                    option(value=code)
    .form-group
        label.control-label.col-sm-5.required-input(for="inputAmount") Částka
        .col-sm-7: input(type="text" id="inputAmount" name="inputAmount" value=inputAmount class="form-control text-right" placeholder="" required)
    .form-group
        label.control-label.col-sm-5(for="inputConstSymbol") Konstantní symbol
        .col-sm-7: input(type="text" id="inputConstSymbol" name="inputConstSymbol" value=inputConstSymbol class="form-control text-right" placeholder=""
        pattern="\\d{4}" maxlength=4)
    .form-group
        label.control-label.col-sm-5(for="inputVarSymbol") Variabilní symbol
        .col-sm-7: input(type="text" id="inputVarSymbol" name="inputVarSymbol" value=inputVarSymbol class="form-control text-right" placeholder="")
    .form-group
        label.control-label.col-sm-5(for="inputSpecSymbol") Specifický symbol
        .col-sm-7: input(type="text" id="inputSpecSymbol" name="inputSpecSymbol" value=inputSpecSymbol class="form-control text-right" placeholder="")
    .form-group
        .col-sm-12
            label.control-label(for="inputMessage") Zpráva pro příjemce (i plátce)
            textarea(id="inputMessage" name="inputMessage" class="form-control" placeholder="zpráva" maxlength=255)= inputMessage