.page-header: h1: small Klientský účet (#{clientData.getId()})
h2: small Informace o klientovi
form.form-horizontal.form(method="post" autocomplete="on")
    span.help-block#helpText
        span.required-input
        | Povinná položka

    fieldset
        legend.form-signin-heading Osobní údaje
        +personalInfo(clientData.getName(), clientData.getSurname(), clientData.getPersonalIdNumber())

    fieldset
        legend.form-signin-heading Kontaktní údaje
        - var address = clientData.getAddress()
        +contactInfo(address.getStreet(), address.getHouseNumber(), address.getCity(), address.getZipCode(), clientData.getEmail(), clientData.getPhoneNumber())

    fieldset
        legend
        .form-group
            .col-sm-offset-5.col-sm-7
                input(type="hidden" name="clientInfo" value="true")
                input(type="hidden" name="client" value=clientData.getId())
                button.btn.btn-primary.btn-block(type="submit") Uložit změny

- var accountsCount = clientData.getBankAccounts().size()
h2: small= accountsCount <= 1 ? "Bankovní účet" : "Bankovní účty"
if accountsCount == 0
    p Klient nemá žádné bankovní účty
else
    .table-responsive
        table.table.table-striped
            thead: tr
                th Číslo účtu
                th Měna
                th Zůstatek
                th.text-right Akce
            tbody
                each account in clientData.getBankAccounts()
                    tr
                        td= account.getAccountNumber()
                        td= account.getCurrency()
                        td= account.getSum()
                        td.text-right
                            a.btn.btn-danger(href='?client=' + clientData.getId() + '&action=delete-bank-account&bank-account=' + account.getAccountNumber()
                            onclick="return confirm('Smazat bankovní účet " + account.getAccountNumber() + " ?');"
                            data-toggle="tooltip" data-placement="top" title="Smazat bankovní účet")
                                | Zrušit

button.btn.btn-success(type='button', data-toggle='collapse', data-target='#newBankAccount', aria-expanded='false', aria-controls='newBankAccount')
    | Přidat
#newBankAccount.collapse
    form.form-horizontal.form(method="post")
        fieldset
            legend.form-signin-heading Nový bankovní účet
            +bankAccount(inputCardNo, inputCardPinNo, inputBankAccountNo, selectCurrency, currencies)
        fieldset
            legend
            .form-group
                .col-sm-offset-5.col-sm-7
                    input(type="hidden" name="bankAccount" value="true")
                    input(type="hidden" name="client" value=clientData.getId())
                    button.btn.btn-primary.btn-block(type="submit") Vytvořit