.page-header: h1: small Nový účet
form.form-horizontal.form(method="post" autocomplete="on")
    span.help-block#helpText
        span.required-input
        | Povinná položka

    fieldset
        legend.form-signin-heading Osobní údaje
        +personalInfo(inputName, inputSurname, inputPersonalNo)

    fieldset
        legend.form-signin-heading Kontaktní údaje
        +contactInfo(inputStreet, inputBuildNo, inputCity, inputZipCode, inputEmail, inputPhoneNumber)

    fieldset
        legend.form-signin-heading Bankovní účet
        +bankAccount(inputCardNo, inputCardPinNo, inputBankAccountNo)
        //-.form-group
            label.control-label.col-sm-5.required-input(for="inputCardNo") Číslo karty
            .col-sm-7: .input-group
                input(type="text" id="inputCardNo" name="inputCardNo" value=inputCardNo class="form-control" placeholder="################" required
                    autocomplete="off" pattern="\\d{16}" maxlength=16)
                span.input-group-btn
                    button.btn.btn-primary(type="button" id="btnCardNo" value=btnCardNo data-toggle="tooltip" data-placement="right" title="Generovat")
                        span.fa.fa-random.fa-only.fa-flip-horizontal
        //-.form-group
            label.control-label.col-sm-5.required-input(for="inputCardPinNo") Pin karty
            .col-sm-7: .input-group
                input(type="text" id="inputCardPinNo" name="inputCardPinNo" value=inputCardPinNo class="form-control" placeholder="####" required
                    autocomplete="off" pattern="\\d{4}" maxlength=4)
                span.input-group-btn
                    button.btn.btn-primary(type="button" id="btnCardPin" data-toggle="tooltip" data-placement="right" title="Generovat")
                        span.fa.fa-random.fa-only.fa-flip-horizontal
        //-.form-group
            label.control-label.col-sm-5.required-input(for="inputBankAccountNo") Číslo účtu
            .col-sm-7: .input-group
                input(type="text" id="inputBankAccountNo" name="inputBankAccountNo" value=inputBankAccountNo class="form-control" placeholder="#########" required
                    autocomplete="off" pattern="\\d{9}" maxlength=9)
                span.input-group-btn
                    button.btn.btn-primary(type="button" id="btnBankAccountNo" data-toggle="tooltip" data-placement="right" title="Generovat")
                        span.fa.fa-random.fa-only.fa-flip-horizontal

    fieldset
        legend
        .form-group
            .checkbox.col-sm-offset-5.col-sm-7
                label.required-input
                    input(name="robotCheck" type='checkbox' required)
                    |Nejsem robot
        .form-group
            .col-sm-offset-5.col-sm-7
                button.btn.btn-primary.btn-block(type="submit") Odeslat